/* @import 'devise_custom'; */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/navbar.css */
/* Navbar styles */
.navbar {
  box-shadow: 0 4px 8px rgba(32, 24, 24, 0.664); /* Shadow effect */
}

.nav-link {
  color: rgb(14, 10, 10) !important; /* Link color */
  transition: color 0.3s; /* Transition for hover effect */
}

.nav-link:hover {
  color: #504e4b !important; /* Hover color */
  text-decoration: underline; /* Underline on hover */
}

.navbar-brand {
  font-weight: bold; /* Bold brand name */
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Toggler border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Custom icon color */
}

/* In custom.css */

.search-input {
  border-radius: 30px 0 0 30px; /* Rounded corners on the left */
  border: 1px solid #28a745; /* Green border */
  padding: 10px 15px; /* Padding for input */
  font-size: 16px; /* Font size */
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

.search-input:focus {
  border-color: #218838; /* Darker green border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add shadow on focus */
  outline: none; /* Remove default outline */
}

.custom-search-btn {
  background-color: #28a745; /* Custom green color */
  border: none; /* Remove border */
  color: rgb(28, 141, 194); /* White text */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Font size */
  border-radius: 0 30px 30px 0; /* Rounded corners on the right */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.custom-search-btn:hover {
  background-color: #218838; /* Darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* More shadow on hover */
  transform: translateY(-2px); /* Slight movement on hover */
}

  
  