body {
  background-color: #fff;;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #e5e8eb;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-bottom: 30px; /* Navbar ke neeche gap badhane ke liye margin-bottom add kiya */
}

/* Booking Form Container */
.booking-form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0; /* Isse booking form ko navbar se door rakhenge */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.date-select {
  width: 48%;
}

#card-element {
  margin-bottom: 20px;
}

button {
  background-color: #080808;
  color: rgb(14, 13, 13);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
